

.div_uno{
  width: 200px;
  height: 200px;
  background-color: #0000ff;
  margin: 10px;
}

.div_dos{
  width: 200px;
  height: 200px;
  border: 1px solid black;
}
.div_tres{
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.div_cuatro{
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.div_cinco{
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

